@import url(http://fonts.googleapis.com/css?family=Quicksand:700|Sorts+Mill+Goudy:400italic);

   @media print {

      .notification_container {
        display: none;
      }

      #information {
        display: none;
      }

      @page {
        size: landscape;
      }
      * { margin: 0 !important; padding: 0 !important; }


      #zoomin, #zoomout, #zoomlabel {
        display: none;
      }
      input, button, svg button {
        display: none !important;
      }
      svg button {
        display: none !important;
      }
      #protein_list {
        display: none;
      }
      .print_group {
        position: relative;
        page-break-inside: avoid;
        width: 100%;
        height: 200px !important;
        display: block !important;
        border: solid #ffffff 10px;
      }
      .print_group_3 {
        page-break-after: always;
/*        height: 400px;
        margin-bottom: 15px;        
*/      }
        #scroller, #scroll_box {
            display: none;
        }
    }
    .print_group {
        height: 200px;
        position: relative;
    }
    .print_seperator {
        height: 25pt;
        width: 100%;
        position: relative;
        background: #dddddd;
    }
    .print_accession {
        font-size: 20pt;
        font-family: Arial;
        width: 150px;
        height: 100%;
        position: absolute;
        left: 0px;
        background: #000000;
        color: #ffffff;
        padding-left: 15px;        
    }
    .print_description {
        right: 0px;
        position: absolute;
        top: 50%;
        margin-top: -25%;
        left: 200px;
    }
    .print_sequence {
        top: 25pt;
        position: absolute;
        width: 100%;
        bottom: 0px;
    }

    #help {
        display: none;
    }

    #drive_install {
        display: none;
    }

    @media screen {

        .notification_container {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            z-index: 101;
        }

        .notification_container .notification {
            text-align: center;
            height: 20px;
            background: white;
        }
        .notification .close_button {
            position: absolute;
            right: 5px;
            top: 5px;
            height: 100%;
            cursor: pointer;
        }

        .notification {
            color: #ffffff;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .notification_container .level_1 {
            background: #990000;
        }
        .notification_container .level_2 {
            background: #000099;
        }
        .notification_container .level_3 {
            background: #779977;
        }

        #information {
            font-family: Helvetica, Arial, sans-serif;
            position: absolute;
            top: 100%;
            width: 100%;
            height: auto;
            background-image: url("/img/p6.png");
            background-repeat: repeat;
            z-index: -1;
        }
        #information > header {
            background: #EBE375;
        }
        #information > div.body {
            margin: 50px;
        }
        #information .title {
            margin-left: 15px;
            color: #40221e;
            font-family: 'Quicksand', Helvetica, Arial, sans-serif;
            font-size: 60pt;
            text-align: left;
        }
        #information .sub_heading {
            margin-left: 15px;
            color: #175566;
            font-family: 'Sorts Mill Goudy', serif;
            font-size: 30pt;
        }
        #information .sub_heading a {
            text-decoration: none;
            color: #175566 !important;
        }
        body {
            margin: 0px;
        }
        #page_canvas {
            box-shadow: 0px 0px 40px #000;
            height: 100%;
            width: 100%;
            position: absolute;
        }

        #viewer {
            position: absolute;
            top: 10px;
            bottom: 10px;
            overflow: auto;
            left: 125px;
            right: 25px;
        }        
        #help {
            display: block;
        }
        #drive_install {
            display: block;
            position: absolute;
            background: none;
            background-image: url("/img/drive_icon.png");
            background-position: 5px 5px;
            background-size: 23px 23px;
            background-repeat: no-repeat;
            cursor: pointer;
            padding: 0px;
            border: 0px;
            width: 35px;
            height: 35px;
            top: 10px;
            right: 80px;
            z-index: 100;
            box-shadow: 2px 2px 5px #888888;
            border-radius: 25px;
            border: 1px solid #000;
        }
        #align {
            display: block;
        }
        #scroll_box {
            position: absolute;
            left: 0px;
            right: 0px;
            height: 24px;
        }
        #condensed_container {
            position: absolute;
            left: 0px;
            top: 0px;
        }
        #uniprot_id {
            color: #999999;
            width: 50%;
            overflow: hidden;
            display: block;
            position: absolute;
            top: 0.5em;
            font-size: 2.5em;
            z-index: 100;
        }
        #description {
            position: absolute;
            top: 2.12em;
            left: 200px;
        }
        #clipboarder, #print {
            z-index: 101;
        }
        #sequence_frame {
            padding: 15px 5px 30px 5px;
            box-shadow: inset 2px 2px 10px #999;
            border-radius: 4px;
        }
    }

    #help, #align, #top {
        height: 35px;
        width: 35px;
        border-radius: 25px;
        border: 1px solid #000;
        font-size: 16px;
        font-family: Helvetica;
        font-weight: bolder;
        background: #fff;
        position: absolute;
        top: 10px;
        right: 30px;
        box-shadow: 2px 2px 5px #888888;
        cursor: pointer; cursor: hand;
        z-index: 100;
    }

    #align {
        top: 10px;
        right: 80px;
        border: 1px solid #999;
        opacity: 0.5;
        display: none;
    }


    #align.running {
        border: 3px solid #999;
        -webkit-animation: pulsate 1s ease-out;
        -webkit-animation-iteration-count: infinite; 
        opacity: 1;
    }

    #align.ready {
        border: 1px solid #000;
        opacity: 1;
    }

    @-webkit-keyframes pulsate {
        0% {border: 1px solid #fff;}
        50% {border: 1px solid #000;}
        100% {border: 1px solid #fff;}
    }

    #help:after {
        content: "?";
        display: block;
        color: #000;
    }
    div.help_box {
        top: 20%;
        left: 0;
        right: 0;
        margin: 0px auto;
        height: 300px;
        width: 655px;
        padding-left: 10px;
        background: #fff;
        position: absolute;
        border-radius: 25px;
    }
    div.help_box:after {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 655px;
        height: 300px;
        /*background-color: #f00;*/
        background-image: url(/img/labels.svg);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: 655px 300px;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        #help {
            display: none;
        }
    }

    div.help_box_container {
        content: " ";
        display: block;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        background: #000;
        z-index: 101;
        position: fixed;
    }
    body {
      font-family: Helvetica, Arial, sans-serif;
    }
    #protein_list {
        position: absolute;
        left: 0px;
        width: 100px;
        top: 0px;
        bottom: 0px;
        overflow: auto;
    }
    #protein_list div {
        background: #000000;
        color: #ffffff;
        cursor: pointer;
        position: relative;
    }
    #protein_list div.selected, #protein_list div.selected:hover {
        background: #4444ff;
    }
    #protein_list div:hover {
        background: -webkit-linear-gradient(top, #999, #aaa);
        background: -moz-linear-gradient(top, #999, #aaa);
        background: -ms-linear-gradient(top, #999, #aaa);
        color: #000000;
    }
    #protein_list div.done:after {
        content: '\2713';
        color: #7f7;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    #zoomin, #zoomout {
        font-weight: bolder;
        font-family: Helvetica;
        font-size: 11pt;
        cursor: pointer;
        position: absolute;
        right: 20px;
        background: white;
        border: solid #AAA 1px;
        box-shadow: 2px 3px 3px #AAA;
    }
    #zoomlabel {
        position: absolute;
        top: 3em;
        right: 10px;
        font-size: 12pt;
        font-weight: bolder;
        z-index: 1;
        text-shadow: #fff 0px 0px 4px;
    }
    #zoomin {
        top: 4.5em;
        z-index: 1;
        border-radius: 5px 5px 0px 0px;
    }

    #zoomout {
        top: 6.5em;
        z-index: 2;
        border-radius: 0px 0px 5px 5px;
    }